body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

header {
  background: black;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a.active {
  text-decoration: underline;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.product-card {
  background: white;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 8px;
}

.img {
  background: #ddd;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background: black;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

td, th {
  border: 1px solid #ddd;
  padding: 10px;
}

.hidden {
  display: none;
}
